$background-color : #f7f7f7;
$font-color: black;
$headline-color : red;
$link-background-color: blue;
$success-color: green;

body {
 display: flex;
 flex-direction: column;
 justify-self: center;
 background-color: $background-color;
 font-family: "poppins";
 max-width: 1400px;
 margin: auto!important;
 min-height: calc(100vh - 80px);
  input {
    width: 100%;
  }
  .content {
    background-color: $background-color;
    margin-top: 80px!important;
    min-height: calc(100vh - 80px);
  }

}

img {
width: 100%;
}


header {
  max-height: 100px;
  max-width: 1400px;
  justify-content: space-between;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border-bottom: solid 1px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    color: black;
    margin: auto 20px
  }
}

.search {
  min-height: 30px;

  width: 100%;
  max-width: 1400px;
  z-index: 1;
  backdrop-filter: blur(15px);
  
}

#searchbar {
  max-width: 200px; 
  display: flex;
  margin: 20px auto;
}

form input, #description {
  min-width: 340px;
  border-radius: 10px;
  border: 0;
  margin-bottom: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

form p {
  text-align: center;
}

::placeholder {
  margin-right: 20px;
}

#description {
  min-height: 200px;

}

#standardbutton, .goback {
  background-color: $link-background-color;
  font-size: 0.8em;
  font-family: "poppins";
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 150px;
  border: 0;
}

#standardbutton:hover, .goback:hover, .view_more_button:hover, .viewmore:hover {
  background-color: $background-color;
  color: $font-color;
}

.goback {
  margin: 0px 0px 0px 20px;
}

.view_more_button {
  display: flex;
  justify-content: center;
  background-color: $link-background-color;
  padding: 10px;
  color: white;
  border-radius: 10px;
  max-width: 125px;
}

.logo {
  max-width: 150px;
  max-height: 80px;
  margin: 20px;
}

.usercredit {
  text-align: center;
  padding-top: 30px;
}

.listings {
  display: flex;
  justify-content: center;
}

.post {
  margin: 10px;
  border-radius: 15px;
  height: 365px;
  position: relative;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  border: solid 1px;
}

.post img {
  overflow: hidden;
  object-fit: contain;
  max-height: 165px;
  border-radius: 15px;
  margin-top: 10px;
}

.post a {
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  margin: 20px auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "poppins";
}

.post p {
  max-height: 30px;
  overflow: hidden;
  text-align: center;
  padding: 0 10px;
}

h1 {
    color: $headline-color;
    text-align: center;
}

.currentbid {
  position: absolute;
  left: 0%;
  right: 0;
  bottom: 60px;
}

.center {
  align-items: center;
  margin: auto;
}

.error {
  color: $headline-color;
}

.viewmore {
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  background-color: $link-background-color;
  padding: 10px;
  color: white;
  border-radius: 10px;
  max-width: 125px;
  margin: 20px auto;
  border: 0;
}

.listingdetails {
  img {max-width: 500px;}
  margin: auto;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.sellerimage {
  max-width: 100px;
  border-radius: 20%;
}

.picture_and_specs {
  display: flex;
}

.success {
  color: $success-color;
}

.failure {
  color: $headline-color;
} 

#title_error, #description_error, #media_error {
  display: none;
}