$background-color : white;
$font-color: black;
$headline-color : red;



body {
 display: flex;
 flex-direction: column;
 justify-self: center;
 background-color: $background-color;
 font-family: "poppins";
 max-width: 1400px;

}

img {
width: 100%;
}

header {
  max-height: 100px;
  background-color: whitesmoke;
  justify-content: space-between;
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    color: black;
    margin: auto 20px;
  }
}

.loginbutton, .logoutbutton {
  background-color: blue;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.logo {
  max-width: 200px;
  max-height: 80px;
  margin: 5px;
}

.post img {
  max-width: 300px;
  max-height: 500px;
}

h1 {
    color: $headline-color;
    text-align: center;
}

.center {
  align-items: center;
  margin: auto;
}

.error {
  color: red;
}

