$background-color : black;
$font-color: white;
$headline-color : red;



body {
 background-color: $background-color;
}

img {
width: 100%;
}

.post img {
  max-width: 300px;
  max-height: 500px;
}

h1 {
    color: $headline-color;
    text-align: center;
}


input {
  margin: auto!important;
}

form {
  justify-content: center!important;
}

.center {
  align-items: center;
  margin: auto;
}

.error {
  color: red;
}
